<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yimeinew.activity">

    <uses-permission android:name="android.permission.INTERNET"/><!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/><!-- 网络Wifi权限 -->
    <uses-permission android:name="android.permission.SET_TIME" tools:ignore="ProtectedPermissions"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 存储权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/><!-- 打包安装权限 -->
    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".deviceproduction.commsub.ScrappingCancellationActivity"
                android:label="@string/title_activity_scrapping_cancellation">
        </activity>
        <activity android:name=".deviceproduction.commsub.UpMaterialMzActivity">
        </activity>
        <activity android:name=".deviceproduction.commsub.UpMaterialMzTyActivity">
        </activity>
        <activity android:name=".deviceproduction.commsub.UpPatchMzActivity">
        </activity>
        <activity android:name=".deviceproduction.commsub.FeedingMzActivity">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.CommMzActivity"
                android:label="@string/title_activity_comm_mz">
        </activity>

        <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/provider_paths"/>

        <activity
                android:name=".qc.OutCheckQJActivity"
                android:label="@string/title_activity_out_check_qj">
        </activity>
        <activity
                android:name=".ck.CkChoiceActivity"
                android:label="@string/title_activity_ck_choice">
        </activity>
        <activity
                android:name=".ck.SellBoxActivity"
                android:label="@string/title_activity_sell_box">
        </activity>
        <activity
                android:name=".ck.SellBoxQJActivity"
                android:label="@string/title_activity_sell_box">
        </activity>
        <activity
                android:name=".ck.SellStationActivity"
                android:label="@string/title_activity_sell_box">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.PrintMZCPActivity"
                android:label="@string/title_activity_print_mzcp">
        </activity>
        <activity
                android:name=".SystemSetActivity"
                android:label="@string/title_activity_system_set">
        </activity>
        <activity
                android:name=".deviceproduction.LookBeltNGActivity"
                android:label="@string/title_activity_look_belt_ng">
        </activity>
        <activity
                android:name=".deviceproduction.LookBeltFastActivity"
                android:label="@string/title_activity_look_belt_fast">
        </activity>
        <activity
                android:name=".deviceproduction.PreheatZjActivity"
                android:label="@string/title_activity_preheat_zj">
        </activity>
        <activity android:name=".deviceproduction.commsub.OutReceiveActivity">
        </activity>
        <activity android:name=".deviceproduction.commsub.BadRepairActivity">
        </activity>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="菜单界面">
        </activity>
        <activity
                android:name=".deviceproduction.UnbindingBoxActivity"
                android:label="料盒解绑">
        </activity>
        <activity
                android:name=".deviceproduction.CommonStationActivity"
                android:label="器件通用工站">
        </activity>
        <activity
                android:name=".deviceproduction.FastStationActivity"
                android:label="快速过站">
        </activity>
        <activity
                android:name=".deviceproduction.Fast2StationActivity"
                android:label="二次快速过站">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.CommGJActivity"
                android:label="器件生产">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.ChargingActivity"
                android:label="生产上料">
        </activity>
        <activity
                android:name=".qc.QCCommActivity"
                android:label="品质管理">
        </activity>
        <activity
                android:name=".qc.FirstInspectionActivity"
                android:label="首件检验">
        </activity>
        <activity
                android:name=".qc.PatrolInspectionActivity"
                android:label="巡检">
        </activity>
        <activity
                android:name=".qc.OutCheckActivity"
                android:label="出货检验">
        </activity>
        <activity
                android:name=".qc.BakeReleaseActivity"
                android:label="点胶烘烤放行">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.GlueAndWeldingActivity"
                android:label="点胶工序">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.GlueAndWelding2Activity"
                android:label="点胶工序无需倒料盒">
        </activity>
        <activity
                android:name=".deviceproduction.AddGluingActivity"
                android:label="设备加胶"/>
        <activity
                android:name=".deviceproduction.MboxBindzjActivity"
                android:label="支架绑料盒">
        </activity>
        <activity android:name=".ck.ScrkActivity">
        </activity>
        <activity android:name=".sb.WxsqActivity">
        </activity>
        <activity android:name=".sb.WxqrActivity">
        </activity>
        <activity android:name=".sb.WxScqrActivity">
        </activity>
        <activity android:name=".sb.WxQcqrActivity">
        </activity>
        <activity android:name=".sb.WxGhpjActivity">
        </activity>
        <activity
                android:name=".deviceproduction.BianDaiActivity"
                android:label="@string/title_activity_bian_dai">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.FastActivity"
                android:label="@string/title_activity_fast">
        </activity>
        <activity android:name=".deviceproduction.commsub.FastMachineActivity">
            android:label="@string/title_activity_fast">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.Fast2Activity"
                android:label="@string/title_activity_fast">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.FastMzTYActivity"
                android:label="@string/title_activity_fast">
        </activity>
        <activity
                android:name=".deviceproduction.CommonMzStationActivity"
                android:label="@string/title_activity_comm_mz">
        </activity>
        <activity
                android:name=".pack.PackStationActivity"
                android:label="@string/title_activity_pack">
        </activity>
        <activity
                android:name=".pack.PackTailActivity"
                android:label="@string/title_activity_pack">
        </activity>
        <activity
                android:name=".pack.PackActivity"
                android:label="@string/title_activity_pack">
        </activity>
        <activity
                android:name=".pack.PackABActivity"
                android:label="@string/title_activity_pack">
        </activity>
        <activity
                android:name=".pack.PackABTailActivity"
                android:label="@string/title_activity_pack">
        </activity>
        <activity
                android:name=".pack.PackSpareActivity"
                android:label="@string/title_activity_pack">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.FastMzActivity"
                android:label="@string/title_activity_fast_mz">
        </activity>
        <activity
                android:name=".deviceproduction.RepairStationActivity"
                android:label="@string/title_activity_repair">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.RepairActivity"
                android:label="@string/title_activity_repair">
        </activity>
        <activity
                android:name=".deviceproduction.commsub.RepairBadActivity"
                android:label="@string/title_activity_repair_bad">
        </activity>
        <activity
                android:name=".qc.QCCommStationActivity"
                android:label="@string/title_activity_repair_qc">
        </activity>
        <activity
                android:name=".qc.CheckRecordActivity"
                android:label="@string/title_activity_repair_qc">
        </activity>
        <activity android:name=".qc.FQCCheckActivity"/>
        <activity android:name=".pack.PackSideActivity"/>
        <activity android:name=".qc.SpotCheckActivity"/>
        <activity android:name=".deviceproduction.commsub.Fast2MachineActivity"/>
        <activity android:name=".deviceproduction.LookBeltSpotActivity"/>
        <activity android:name=".ck.OutHouseActivity"/>
        <activity android:name=".ck.OutHouseStationActivity"/>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>